@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700|Titillium+Web:400,600');

$fonts: (
	body: (stack: ('Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif), weights: (normal: 400, bold: 700) ),
	headers: (stack: ('Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif), weights: (normal: 400, bold: 600) )
);
