$_color-base-grey: rgb(229,231,234);

$palettes: (
  orange: (
    base:   rgb(255,147,0),
    light:  rgb(255,202,129),
    dark:   rgb(164,95,0)
  ),
  grey: (
    base:  $_color-base-grey,
    light: lighten($_color-base-grey, 10%),
    dark: darken($_color-base-grey, 10%)
  )
);

// Usage example:
//  palette(orange) or palette(orange, light)

// Allowed tones:
//  x-dark
//  dark *
//  mid-dark
//  base (default)
//  mid-light
//  light *
//  x-light
