//
// Example basic layout
//

.basic-layout {
	@include clearfix;

	.main-col {
		@include margin(4 0 0 0);

		.panel + .panel {
			@include spacing(margin-top, 4);
		}
	}

	.side-col {
		@include margin(4 0 0 0);

		.panel + .panel {
			@include spacing(margin-top, 4);
		}
	}


	@include mq($large) {
		.main-col {
			width: 68%;
			float: left;
			margin: 0;
		}

		.side-col {
			width: 30%;
			float: right;
			margin: 0;
		}
	}

}
