//
// Project specific global styles like border-radius, box-shadows etc.
//

// Border-radius
$border: 4px;

// Box-shadow
$shadow: 0px 1px 3px rgba(0,0,0,.3);
$emphasis_shadow: 0px 1px 4px rgba(0,0,0,.4);
$invalid_shadow: 0px 1px 4px rgba(red,.4);

// Font sizes
$base_font_size: 14px;
